@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.mapstyle {
  height: 100%;
  min-width: 100%;
}

.sideBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 20%;
  background-color: #ffffff;
}

.odd, .even, .sunDay {
  display: none;
}

.card {
  position: relative;
  height: 200px;
  width: 100%;
  line-height: 20px;
}

.title {
  font-size: 36px;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6c970;
  color: #031e4b;
}

.theDay {
  margin-right: 20px;
}

.idNum > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
}

.list {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

/*捲軸樣式*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E0E0E0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/**/
.menu {
  overflow-y: auto;
}

.cityOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.cityOption > select {
  margin-right: 5px;
}

.allMask {
  margin-top: 30px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clearfix {
  clear: both;
}

.adultMask {
  margin-right: 30px;
  background-color: #f6c970;
  color: #031e4b;
  padding: 10px;
  border-radius: 15px;
}

.childMask {
  background-color: #00629a;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

.eyeinf {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.marker-cluster-small {
  background-color: lightcyan;
}

.marker-cluster-small div {
  background-color: skyblue;
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.eyeinf {
  cursor: pointer;
}
/*# sourceMappingURL=all.css.map */